<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MangaDownloader.Settings.MangaFoxSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MangaDownloader.Settings.VeChaiSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MangaDownloader.Settings.BlogTruyenSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MangaDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MangaDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MangaDownloader.Properties.CommonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MangaDownloader.Settings.CommonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="appName" value="Manga Downloader" />
    <add key="version" value="1.0" />
    <add key="releaseDate" value="" />
    <add key="versionUrl" value="https://sites.google.com/site/kiddy2910/version.csv" />
    <add key="homeUrl" value="" />
    <add key="autoCreateShortcut" value="false" />
    <add key="autoCreatePdf" value="false" />
    <add key="autoCreateZip" value="false" />
    <add key="autoStartup" value="false" />
    <add key="autoUpdate" value="true" />
    <add key="autoShutdown" value="false" />
    <add key="autoDeleteImagesAfterFinished" value="false" />
    <add key="totalConcurrentWorkers" value="3" />
    <add key="emailTo" value="dangduy2910@gmail.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <MangaDownloader.Settings.MangaFoxSettings>
      <setting name="SiteName" serializeAs="String">
        <value>MangaFox</value>
      </setting>
      <setting name="SiteTag" serializeAs="String">
        <value> - mangafox.me</value>
      </setting>
    </MangaDownloader.Settings.MangaFoxSettings>
    <MangaDownloader.Settings.VeChaiSettings>
      <setting name="SiteName" serializeAs="String">
        <value>VeChai</value>
      </setting>
      <setting name="SiteTag" serializeAs="String">
        <value> - vechai.info</value>
      </setting>
    </MangaDownloader.Settings.VeChaiSettings>
    <MangaDownloader.Settings.BlogTruyenSettings>
      <setting name="SiteName" serializeAs="String">
        <value>BlogTruyen</value>
      </setting>
      <setting name="SiteTag" serializeAs="String">
        <value> - blogtruyen.com</value>
      </setting>
    </MangaDownloader.Settings.BlogTruyenSettings>
    <MangaDownloader.Properties.Settings>
      <setting name="AppName" serializeAs="String">
        <value>Manga Downloader</value>
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value>1.8</value>
      </setting>
      <setting name="ReleaseDate" serializeAs="String">
        <value>04/03/2015 23:40:00</value>
      </setting>
      <setting name="ContactEmail" serializeAs="String">
        <value>dangduy2910@gmail.com</value>
      </setting>
      <setting name="Website1" serializeAs="String">
        <value>https://tdduy89.wordpress.com/</value>
      </setting>
      <setting name="Website2" serializeAs="String">
        <value>http://tdduy89.blogspot.com/</value>
      </setting>
      <setting name="Author" serializeAs="String">
        <value>Duy Tran</value>
      </setting>
      <setting name="GaBaseURL" serializeAs="String">
        <value>http://www.google-analytics.com/collect</value>
      </setting>
      <setting name="GaTrackingID" serializeAs="String">
        <value>UA-61053646-2</value>
      </setting>
      <setting name="VersionURL" serializeAs="String">
        <value>https://dl.dropboxusercontent.com/u/148375006/apps/manga-downloader/manga-downloader-latest-version.csv</value>
      </setting>
    </MangaDownloader.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <MangaDownloader.Properties.Settings>
      <setting name="GaClientID" serializeAs="String">
        <value />
      </setting>
    </MangaDownloader.Properties.Settings>
    <MangaDownloader.Properties.CommonSettings>
      <setting name="AutoCreateShortcut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCreatePdf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCreateZip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoClean" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TotalConcurrentWorkers" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RootDownloadFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TurnOffWhenDone" serializeAs="String">
        <value>False</value>
      </setting>
    </MangaDownloader.Properties.CommonSettings>
    <MangaDownloader.Settings.CommonSettings>
      <setting name="AutoCreateShortcut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCreatePdf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCreateZip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoClean" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TotalConcurrentWorkers" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RootFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TaskListFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="MangaListFilePath" serializeAs="String">
        <value />
      </setting>
    </MangaDownloader.Settings.CommonSettings>
  </userSettings>
</configuration>