<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
  <appSettings>
    <add key="appName" value="Manga Downloader"/>
    <add key="version" value="1.0"/>
    <add key="releaseDate" value=""/>
    <add key="versionUrl" value="https://sites.google.com/site/kiddy2910/version.csv"/>
    <add key="homeUrl" value=""/>
    
    <add key="autoCreateShortcut" value="false"/>
    <add key="autoCreatePdf" value="false"/>
    <add key="autoCreateZip" value="false"/>
    <add key="autoStartup" value="false"/>
    <add key="autoUpdate" value="true"/>
    <add key="autoShutdown" value="false"/>
    <add key="autoDeleteImagesAfterFinished" value="false"/>
    
    <add key="totalConcurrentWorkers" value="3"/>
    
    <add key="emailTo" value="dangduy2910@gmail.com"/>
  </appSettings>
  
</configuration>
