<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MangaDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <MangaDownloader.Properties.Settings>
      <setting name="AppName" serializeAs="String">
        <value>Manga Downloader</value>
      </setting>
      <setting name="ContactEmail" serializeAs="String">
        <value>dangduy2910@gmail.com</value>
      </setting>
      <setting name="Website1" serializeAs="String">
        <value>https://tdduy89.wordpress.com/</value>
      </setting>
      <setting name="Website2" serializeAs="String">
        <value>http://tdduy89.blogspot.com/</value>
      </setting>
      <setting name="Author" serializeAs="String">
        <value>Duy Tran</value>
      </setting>
      <setting name="GaScreen" serializeAs="String">
        <value>Main</value>
      </setting>
    </MangaDownloader.Properties.Settings>
  </applicationSettings>
</configuration>