<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Common.Properties.Settings>
            <setting name="GaClientID" serializeAs="String">
                <value />
            </setting>
        </Common.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Common.Properties.Settings>
            <setting name="GaBaseURL" serializeAs="String">
                <value>http://www.google-analytics.com/collect</value>
            </setting>
            <setting name="GaTrackingID" serializeAs="String">
                <value>UA-61053646-2</value>
            </setting>
            <setting name="VersionURL" serializeAs="String">
                <value>https://dl.dropboxusercontent.com/u/148375006/apps/manga-downloader/manga-downloader-latest-version.csv</value>
            </setting>
            <setting name="MDVersion" serializeAs="String">
                <value>1.20</value>
            </setting>
            <setting name="ReleaseDate" serializeAs="String">
                <value>2016-04-03</value>
            </setting>
        </Common.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
